<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxm42ooaUEveFR5L9iopUxUZC8Nj43VrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>848536397462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoListApp</string>
	<key>PROJECT_ID</key>
	<string>todo-list-ef9b6</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-ef9b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848536397462:ios:fa9c6a65719a566ea684b7</string>
</dict>
</plist>